{% extends "UserAdminBundle:layout:layout.html.twig" %}

{% block content %}
<div class="panel panel-default">
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Adresse mail</th>
					<th>Etat</th>
				</tr>	
				</thead>
				<tbody>
				{% for admin in admins %}
					<tr>
						<td>{{ admin.surname }}</td>
						<td>{{ admin.name }}</td>
						<td>{{ admin.email }}</td>
						<td>{{ admin.state }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>	
		</div>
	</div>
</div>		
{% endblock %}
